<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="/css/custom.css?v={{ now.Unix }}">
    {{ if .Site.Params.mailchimpURL }}
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/FAKE_U/FAKE_ID.js");</script>
    {{ end }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body class="is-preload">
    <header>
        <div class="logo-container">
            <a href="/">
                <img src="/images/logo.jpg" alt="{{ .Site.Title }}" class="logo">
            </a>
        </div>
        
        <nav class="main-nav">
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
            {{ end }}
        </nav>
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        <div class="contact-section">
            <div class="contact-logo">
                <h4>Progetto finanziato da:</h4>
                <img src="/images/contact-logo-white.png" alt="Università di Catania" class="clickable-logo">
            </div>
            <div class="contact-columns">
                <div class="contact-column">
                    <h4>Contatti</h4>
                    <p>
                        Dipartimento di Giurisprudenza<br>
                        Via Gallo n. 24 – 95124 Catania (CT) <br>
                        <b>Redazione</b>: redazione@XXX <br>
                        <b>Segnalazione News</b>: news@XXX
                    </p>
                </div>
                <div class="contact-column">
                    <h4>Privacy</h4>
                    <ul>
                        <li><a href="https://www.lex.unict.it/it/chi-siamo/privacy" target="_blank">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="contact-column">
                    <h4>Area riservata</h4>
                    <ul>
                        <li><a href="/admin/" target="_blank">Gestione del sito</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            {{ .Site.Params.copyright }}
        </div>
    </footer>

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>
</html> 