{{ define "main" }}
<article class="article">
  <div class="container">
    <h1 class="title">{{ .Title }}</h1>
    {{ with .Description }}
    <p class="subtitle">{{ . }}</p>
    {{ end }}
    
    <div class="article-meta">
      <time>{{ .Date.Format "02/01/2006" }}</time>
      {{ with .Params.categories }}
      · {{ range . }}
      <a href="/categories/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      {{ end }}
      {{ with .Params.tags }}
      · {{ range . }}
      <a href="/tags/{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
      {{ end }}
    </div>

    <div class="content">
      {{ .Content }}
    </div>
  </div>
</article>
{{ end }} 