{{ define "main" }}
<article class="article-container">
  <div class="container">
    <div class="article-header">
      <div class="article-category">{{ .Section | upper }}</div>
      <div class="article-taxonomies">
        {{ with .Params.categories }}
        <div class="article-taxonomies-categories">
          {{ range . }}
          <span class="tag">#{{ . }}</span>
          {{ end }}
        </div>
        {{ end }}
      </div>
      <h1 class="article-title">{{ .Title }}</h1>
      <p class="article-description">{{ .Description }}</p>
      
      <div class="article-meta">
        <time>{{ .Date.Format "02/01/2006" }}</time>
        {{ with .Params.author }}
        · {{ . }}
        {{ end }}
        {{ with .Params.tags }}
        <div class="article-tags">
          {{ range . }}
          <span class="tag">#{{ . }}</span>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>

    {{ if .Params.featured_image }}
    <div class="article-featured-image">
      <img src="{{ .Params.featured_image }}" alt="{{ .Title }}">
    </div>
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>

    {{ if .Params.pdf }}
    <div class="article-pdf">
      <a class="btn" href="{{ .Params.pdf }}" target="_blank">
        Scarica il PDF
      </a>
    </div>
    {{ end }}

    {{ if .Params.attachments }}
    <div class="article-attachments">
      <h3>Documenti allegati</h3>
      <ul>
        {{ range .Params.attachments }}
        <li><a href="{{ .url }}" target="_blank">{{ .title }}</a></li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</article>

<style>
  .article-content::after {
    content: "";
    display: block;
    clear: both;
  }
  .article-content ul,
  .article-content ol {
    list-style-position: inside;
  }
  .article-featured-image {
    float: left;
    margin: 0 2em 0 0;
  }
  .article-featured-image img {
    max-width: 300px;
  }
</style>
{{ end }} 
